<h1>Every piece of advice for Mod 2</h1>
<ul>
<% @advices.each do |advice| %>
  <li><%= link_to advice.content, advice_path(advice) %> | <% advice.categories.each do |category| %>
    <%= category.name %>
    <% end %>
  </li>
<% end %>
</ul>
