<h1 style="font-size:5vw;text-align:center">Create New Advice</h1>
<%= render "form" %>

<%= link_to "Back to Categories", categories_path, id: "white", class: "bottomright" %>
<div class="topright"><%= link_to "Log Out", logout_path, id: "white"%></div>


