<h1>Advice Board</h1><br>
<ul>
<h2><% @advice.categories.each do |category|  %>
      <li><%= category.name %></li>
    <% end %>
</h2>

<p><%= "#{@advice.content} - #{@advice.user.name}" %></p>

<p>
Comments:<br>
<% @advice.comments.each do |comment| %>
  <%= "#{comment.content} - #{comment.user.name}" %><br>
<% end %>
</p>

<%= button_to "Add a new piece of advice", new_advice_path, method: 'get' %>