<h1>Advice Board</h1><br>
<h2><%= advice.category.name %></h2>

<h3><%= @advice.content %></h3>
<h4><%= @advice.user.name %></h4>

<p>
<% @advice.comments.each do |comment| %>
  <%= "#{comment.content} - #{comment.user.name}" %>
<% end %>
</p>