/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body {
    height: 100%;
    background-image: url("chalkboard.jpg");
    font-family: EraserDust;
    color: white
}

#header {
    font-size:7vw;
    margin-bottom:8%
}

#signInStuff {
    margin:10%;
    height:50%;
    font-size:1.9vw
}

.col {
    text-align:center
}

.topleft{
    position:absolute;
    margin:1%;
    top:0;
    left:0;
    font-size: 2vw
}

.topright{
    position:absolute;
    margin:1%;
    top:0;
    right:0;
    font-size:2vw
}

.bottomright{
    position:absolute;
    margin:1%;
    bottom:0;
    right:0;
    font-size:2vw
}

.bottomleft{
    position:absolute;
    margin:1%;
    bottom:0;
    left:0;
    font-size:2vw
}

.btn-link {
    color:white;
    font-size:1.9vw
}

.pagetitles {
    font-size:5vw;
    text-align:center
}


.advicelist {
    margin-top:1%;
    margin-left:8%;
    font-size: 1.7vw;
}

#advice {
    margin-bottom:3%
}

#comment{
    font-size:1.6vw;
    margin-bottom:1%;
}

#comments{
    margin:2%;
    border-style: dotted;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    font-size:1.3vw
}

#register {
    color:white
}

#white {
    color:white
}

#categories {
    font-size:5vw;
    color:white;
    text-align:center
}

#title {
    text-align:center;
    font-size: 7vw;
}

#everything {
    font-size:6vw;
}

#forms {
    font-size:1.8vw
}

#relevantAdvice {
    font-size:3.4vw;
    margin:auto;
    width:50%;
    text-align:center;
}

#delete {
    font-size:1.2vw;
    padding-left:0;
    padding-top:0;
}