/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face {
    font-family:"EraserDust";
    src: asset-url('EraserDust/.ttf') format('truetype')
}

html,
body {
    height: 100%;
    background-image: url("chalkboard.jpg");
    font-family: EraserDust;
    color: white
}

#header {
    font-size:7vw;
    margin-bottom:15%
}

#signInStuff {
    padding:20%;
    height:50%;
    font-size:1.8vw
}

.col {
    text-align:center
}

.topleft{
    position:absolute;
    margin:1%;
    top:0;
    left:0;
    font-size: 2vw
}

.topright{
    position:absolute;
    margin:1%;
    top:0;
    right:0;
    font-size:2vw
}

.bottomright{
    position:absolute;
    margin:1%;
    bottom:0;
    right:0;
    font-size:2vw
}


#register {
    color:white
}

#white {
    color:white
}

#categories {
    font-size:5vw;
    color:white;
    text-align:center
}

#title {
    text-align:center;
    font-size: 7vw;
}